
@import 'styles/_variable.scss';
@import 'styles/_mixin.scss';

.sidebar{
  width: 100%;
  margin-top: $space-container;
  .box{
    margin-bottom: $space-container;
    color: $color-font-gray;
    .title{
      padding: 10px 0 10px 20px;
      color: $color-font-gray-light;
    }
    .list{
      font-size: 15px;
      padding:20px;
      @include gray-border-light('top');
    }
    .item{
      margin-top: 8px;
      &:first-child{
        margin-top: 0;
      }
    }
  }
}


@include breakpoint{
  .sidebar{
    margin-top: 0;
    margin-left: $space-container;
    width: 32%;
    min-width: 180px;
  }
}