
@import 'styles/variable.scss';
@import 'styles/mixin.scss';

.roundContainer{
  // width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 2%);

  // @include flex($direction:column)
}


