@import 'styles/_variable.scss';
@import 'styles/_mixin.scss';


.segment{
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 15px;
  color: $color-font-gray;
  font-weight: 500;
  &>span{
    position: relative;
    z-index: 1;
    padding: 0 16px;
    background-color: #fff;
  }
  &::after{
    content: '';
    width: 100%;
    @include gray-border('top');
    position: absolute;
    top: 48%;
    left: 0;
  }
}

.introduction{
  padding: 20px 0;
  @include flex($justify:space-between, $align:stretch);
  position: relative;
  .info{
    width: 100%;
    h1{
      font-size: 18px;
      font-weight: normal;
    }
    p{
      font-size: 14px;
      color: $color-font-gray;
    }
    .bar{
      font-size: 12px;
      margin-top: 16px;
      @include flex($justify:flex-start);
      color: $color-font-gray-light;
      &>span{
        margin-right: 4px;
        &:not(:nth-of-type(1))::before{
          content: '|';
          margin-right: 4px;
          position: relative;
          top: -1px;
        }
      }
      
      &>i{
        display: none;
      }
     
      
    }
  }
  .cover{
    width: 30%; 
    min-width: 110px; 
    max-width: 200px; 
    margin: 50px 0 36px 24px;
  }
}



@include breakpoint($minWidth:470px){
  .introduction{
    .info{
      .bar{
        &>span {
          padding-left: 5px;
          margin-right: 16px;
          &:not(:nth-of-type(1))::before{
            content: none;
          }
        }
        &>i {
          display: inline;
        }
        
      }
    }
    .cover{
      margin: 0 0 0 30px;
    }
  }
}


@include breakpoint{
  .introduction{
    .info{
      h1{
        font-size: 22px;
        font-weight: normal;
      }
      p{
        font-size: 15px;
        color: $color-font-gray;
      }
    }
  }
}


