// 颜色
$color-primary:#1e87f0;
$color-font-black: #343434;
$color-font-gray: #666;
$color-font-gray-light: #999;
$color-bg: #f3f2f8;
$color-icon: #aaa;

$color-border-gray:#eee;
$color-border-gray-light:#f3f3f3;

$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;



// 间距
$space-container: 16px;
$space-paragraph: 20px;


$btn-prefix-cls: self-btn;
$spin-prefix-cls: lds-ring;



