@import './_mixin.scss';
@import './_variable.scss';
.#{$btn-prefix-cls} {
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  background: $color-primary;
  border-radius: 4px;
  outline: none !important;
  position: relative;
  text-align: center;
  &-content{
    @include flex;
    & > span {
      line-height: 1.5;
    }
  }
  
  &-color-primary {
    color: $color-primary;
  }
  &-background-primary {
    background: $color-primary;
  }
  &-hover {
    background: darken($color: $color-primary, $amount: 10%);
    border-color: darken($color: $color-primary, $amount: 10%);
  }

  &-square {
    border-radius: 0;
  }
  &-round {
    border-radius: 21px;
  }
 
  &-medium {
    padding: 0 16px;
    height: 40px;
  }
  &-small {
    padding: 0 14px;
    height: 30px;
  }
  &-large {
    height: 50px;
    padding: 0 20px;
  }
  &-hidden {
    visibility: hidden;
  }
  &-loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
